<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplistq.tastaz">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNo"
        android:usesCleartextTraffic="true">
        <activity android:name=".loginModule.Fragment.Activities.ForgotPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".guestModule.MainGuestActivity" />
        <activity android:name=".loginModule.Fragment.Activities.AddressActivity" />
        <activity
            android:name=".loginModule.Fragment.Activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.Activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.Activities.OrderConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.Activities.ViewOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".loginModule.Fragment.Activities.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyLocationUsingHelper"
            android:label="MyLocation"
            android:screenOrientation="portrait" />
        <activity android:name=".MyLocationUsingLocationAPI" />
        <activity
            android:name=".loginModule.Fragment.Activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.Activities.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".loginModule.Fragment.Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginModule.Fragment.view.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".loginModule.Fragment.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>